@{
	ViewData["Title"] = "Admin-Admins";
	Layout = "_LayoutAdmin";
}

<div class="container">
	<div class="row">
		<h3 class="text-center">Admin Ekle</h3>
		<hr />
		<table class="table table-striped table-success table-responsive table-hover">
			<thead>
			<th>Admin id</th>
			<th>Tc No</th>
			<th>Ad Soyad</th>
			<th>Kullanıcı Adı</th>
			<th>Statüsü</th>
			<th>Kayıt İp Adresi</th>
			<th>İşlem</th>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>	