@{
	ViewData["Title" ]= "Admin-Pages";
	Layout = "_LayoutAdmin";
}

<div class="container">
	<div class="row">
		<h3 class="text-center">Sayfalar</h3>
		<hr />
		<table class="table table-striped table-success table-responsive table-hover">
			<thead>
			<th>Sayfa id</th>
			<th>Sayfa Adı</th>
			<th>Sayfa Eklenme Tarihi</th>
			<th>Sayfa Ekleyen</th>
			<th>İşlem</th>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>