@model MuvekkilTakipSistemi.Models.ContactTable

@{
	ViewData["Title"] = "Mesajlar";
	Layout = "_LayoutAdmin";
}
<div class="container">
	<div class="row">

		<div class="d-block w-100">
			<h3 class="text-center">@ViewData["Title"]</h3>
			<hr />
		</div>
		<div class="d-block w-100">
			<div class="col-md-4" style="">
				<input type="text" id="searchInput" placeholder="Ara..." class="form-control" /><br />
			</div>
		</div>
		<table class="table table-striped table-success table-responsive-lg table-hover text-center" style="margin-top:10px;">
			<thead>
				<tr>
					<th>Mesaj id</th>
					<th>Ad Soyad</th>
					<th>Tel</th>
					<th>Email</th>
					<th>Departman</th>
					<th>Konu</th>
					<th>Tarih</th>
					<th>İp Adresi</th>
					<th>Mesaj</th>
				</tr>
			</thead>
			<tbody id="tblBody">
			</tbody>
		</table>
	</div>

</div>
<div class="modal" role="dialog" id="MessageModel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modalTitle"></h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input asp-for="Id" type="hidden" id="id" name="id"/>
				<div class="mb-2">
					<input type="text" name="Email" id="Email" class="form-control" readonly />
				</div>
				<div class="mb-2">
					<input type="text" name="Name_surname" id="Name_surname" class="form-control" readonly />
				</div>
				<div class="mb-2">
					<input type="text" name="Subject" id="Subject" class="form-control" readonly />
				</div>
				<div class="mb-2">
					<textarea name="Message" id="Message" class="form-control" style="height:100px; resize:none;  overflow-y: scroll;"></textarea>
				</div>
			
				<div class="modal-footer">
					<button class="btn btn-danger" data-bs-dismiss="modal" onclick="HideModal();">Kapat</button>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/js/MessageJS.js"></script>
	<script type="text/javascript" src="~/js/SearchData.js"></script>
}