@{
	List<Navigation> nav = new List<Navigation>()
			{
				new Navigation(){MenuText="Müvekiller",ActionName="Index",ControlName="User"},
				new Navigation(){MenuText="Dosyalar",ActionName="Files",ControlName="User"},
				new Navigation(){MenuText="İşlemler",ActionName="Activities",ControlName="User"},
			};
}
<!DOCTYPE html>
<html>
<head>
	<!-- Basic -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta charset="utf-8" />
	<!-- Site Metas -->
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta charset="utf-8" />
	<title>@ViewData["Title"]</title>
	<style>
		input{
			margin-top:5px;
		}
	</style>
	@await Html.PartialAsync("_Styles")
</head>
<body>
	<div class="Login-area" id="LoginArea">
		<!-- header section strats -->
		<header class="header_section">
			<div class="container-fluid">
				<nav class="navbar navbar-expand-lg custom_nav-container pt-3">
					<a class="navbar-brand" href="@Url.Action(nav[0].ActionName, nav[0].ControlName,null)">
						<span>
							Müvekkil Takip Sistemi
						</span>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!--Navigation-->
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
							@* <ul class="navbar-nav">
							</ul> *@
							<div class="user_option">
								<div>
									<p class="text-white profil-text" >
										@await Component.InvokeAsync("UserName")
									</p>
								</div>
								<div class="dropdown">
									<button class="btn btn-primary dropdown-toggle btn-profil" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										@if (ViewData["resim"] == null)
										{
											<img src="~/images/user.png" alt="">
										}
										else
										{
											<img class="profil-resmi" src="~/Yukle/@ViewData["resim"]" alt="Profil Resmi">
										}
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item" href=@Url.ActionLink("Settings","User")>Ayarlar</a>
										<a class="dropdown-item" href=@Url.ActionLink("Exit","User")>Çıkış Yap</a>
									</div>
								</div>
								<form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
									<button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
								</form>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</header>
	</div>
	<!-- end header section -->
	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav navbar-nav flex-column">
						@foreach (var item in nav)
						{
							<li class="nav-item">
								@Html.ActionLink(item.MenuText, item.ActionName, item.ControlName, null, new { @class = "nav-link" })
							</li>
						}
					</ul>
				</div>
			</nav>
			@RenderBody()
		</div>
	</div>
	<!-- footer section -->
	<section class="container-fluid footer_section fixed-bottom">
		<p>
			&copy; 2024 Tüm Hakları Saklıdır.
		</p>
	</section>
	<!-- footer section -->
	<!-- owl carousel script
	-->
	<!-- end owl carousel script -->
	@await Html.PartialAsync("_Scripts");
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
