@model MuvekkilTakipSistemi.Models.Files

@{
	Layout = "_Layout3";
	ViewData["Title"] = "Dosyalar";


}
<div class="col-md-9">

	<div class="row">
		<div class="col-md-12" style="padding:10px">
			<div class="col-md-4" style="">

				<input type="text" id="searchInput" placeholder="Ara..." class="form-control" /><br />


			</div>
		</div>
	</div>

	<h1 class="display-4">Dosyalar</h1>

	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary" id="btnNew">Yeni</button>
		</div>
	</div>

	<table class="table table-striped table-success table-responsive table-hover">

		<thead>

			<tr>

				<th>Dosya No</th>
				<th>Konusu</th>
				<th>Avukat</th>
				<th>Mahkeme</th>

				<th>Müvekkil</th>
				<th>Müvekkil Grup</th>


				<th>Adres</th>
				<th>Ad/Telefon 1</th>
				<th>Ad/Telefon 2</th>
				<th>Özel Alan 1</th>
				<th>Özel Alan 2</th>

				<th>Referans</th>
				<th>Ücretli Sözleşmeli</th>
				<th>Sözleşme No</th>
				<th>Serbest dosya makbuzu kesildi</th>
				<th>Dosya Kapandı</th>



			</tr>

		</thead>

		<tbody id="tblBody">
		</tbody>
	</table>



</div>

<!--Add file-->
<div class="modal" id="FileModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modalTitle"></h3>
			</div>
			<div class="modal-body">
				<input asp-for="Id" type="hidden" value="0" id="id" />

				<div class="mb-2">
					<input type="text" name="DosyaNo" id="DosyaNo" class="form-control validate-input" placeholder="Dosya No" />
				</div>
				<div class="mb-2">
					<div class="mb-2">
						<input type="text" name="Konusu" id="Konusu" class="form-control validate-input" placeholder="Konusu" />
					</div>


				</div>

				<div class="mb-2">
					<select name=" Mahkeme" id="Mahkeme" class="form-control validate-input">
						<option selected disabled>Mahkeme İsmi</option>
						@foreach (var item in (List<Mahkemeler>)ViewBag.Mahkeme)
						{
							<option value="@item.Name">@item.Name</option>
						}
					</select>
				</div>

				<div class="mb-2">
					<select name=" Muvekkil" id="Muvekkil" class="form-control validate-input">
					</select>
					<button name="newClient" id="newClient" class="btn btn-primary">Yeni Ekle</button>
				</div>

				<div class="mb-2">
					<input type="text" name="Adres" id="Adres" class="form-control validate-input" placeholder="Adres" />
				</div>

				<div class="mb-2">
					<input type="text" name="Adi_Telefon" id="Adi_Telefon" class="form-control" placeholder="Şahit/Telefon" />
				</div>

				<div class="mb-2">
					<input type="text" name="Adi_Telefon2" id="Adi_Telefon2" class="form-control" placeholder="Şahit2/Telefon" />
				</div>
				<div class="mb-2">
					<input type="text" name="Ozel_Alan" id="Ozel_Alan" class="form-control" placeholder="Özel Alan 1" />
				</div>
				<div class="mb-2">
					<input type="text" name="Ozel_Alan2" id="Ozel_Alan2" class="form-control" placeholder="Özel Alan 2" />
				</div>
				<div class="mb-2">
					<input type="text" name="Referans" id="Referans" class="form-control validate-input" placeholder="Referans" />
				</div>
				<div class="mb-2">
					<select name="Ucret_Sozlesmesi" id="Ucret_Sozlesmesi" class="form-control validate-input">
						<option selected disabled>Ucret Sözleşmesi</option>
						<option value="Hayır">Hayır</option>
						<option value="Evet">Evet</option>
					</select>
				</div>
				<div class="mb-2">
					<input type="number" name="Sozlesme_No" id="Sozlesme_No" class="form-control" placeholder="Sözleşme No" />
				</div>
				<div class="mb-2">
					<select name="Serbest_Meslek_Makbuzu" id="Serbest_Meslek_Makbuzu" class="form-control validate-input">
						<option selected disabled>Serbest Meslek Makbuzu Kesildi mi</option>
						<option value="Hayır">Hayır</option>
						<option value="Evet">Evet</option>
					</select>
				</div>
				<div class="mb-2">
					<select name="Dosya_Durumu" id="Dosya_Durumu" class="form-control validate-input">
						<option selected disabled>Dosya Kapandı mı</option>
						<option value="Hayır">Hayır</option>
						<option value="Evet">Evet</option>
					</select>
				</div>


			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="Save" type="submit" onclick="Insert();">Kaydet</button>

				<button class="btn btn-success" id="Update" style="display:none;" type="submit" onclick="Update();">Güncelle</button>
				<button class="btn btn-danger" data-bs-dismiss="modal" onclick="HideModal();">Kapat</button>
			</div>
		</div>
	</div>
</div>

<!--Add Client-->
<div class="modal" id="ClientModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modalTitle"></h3>
			</div>
			<div class="modal-body">

				<div class="mb-2">
					<input type="text" name="Ad_Unvan" id="Ad_Unvan" class="form-control" placeholder="Ad/Ünvan" />
				</div>
				<div class="mb-2">
					<select name="GrupAdi" id="GrupAdi" class="form-control">
						<option selected disabled>Müvekkil Grubu</option>
						@foreach (var item in (List<ClientGroupName>)ViewBag.GroupAdi)
						{
							<option value="@item.Group_Name">@item.Group_Name</option>
						}
					</select>


				</div>

				<div class="mb-2">
					<input type="number" name="Tcno" id="Tcno" class="form-control" placeholder="Tc No" />
				</div>

				<div class="mb-2">
					<input type="text" name="GSM" id="GSM" class="form-control" placeholder="Cep Tel" />
				</div>

				<div class="mb-2">
					<input type="text" name="Tel" id="Tel" class="form-control" placeholder="Tel No" />
				</div>

				<div class="mb-2">
					<input type="text" name="Vergi_Dairesi" id="Vergi_Dairesi" class="form-control" placeholder="Vergi Dairesi" />
				</div>

				<div class="mb-2">
					<input type="number" name="No" id="No" class="form-control" placeholder="Vergi No" />
				</div>

				<div class="mb-2">
					<input type="text" name="Ozel_Alan" id="Ozel_Alan" class="form-control" placeholder="Açıklama" />
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="SaveClient" type="submit" onclick="InsertClient();">Kaydet</button>
				<button class="btn btn-danger" id="Close" type="submit" onclick="HideModalClient();">Kapat</button>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<style>
		.table-responsive {
			max-height: 300px;
		}
	</style>

	<script type="text/javascript" src="~/js/FilesJS.js"></script>
	<script type="text/javascript" src="~/js/Control.js"></script>


	<script type="text/javascript" src="~/js/SearchData.js"></script>
}
