@model MuvekkilTakipSistemi.Models.ClientInfo

@{
	//Model çağrılırken hata oluştu, kontrol edilecek.
	ViewData["Title"] = "Müvekkiller";
	Layout = "_Layout3";

}

<div class="col-md-9">

	<div class="row">
		<div class="col-md-12" style="padding:10px">
			<div class="col-md-4" style="">
				<form>
					<input type="text" name="UserName" id="UserName" placeholder="Ad/Ünvan" /><br />
					<input type="text" name="GroupName" id="GroupName" placeholder="Grup Adı" /><br />
					<input type="submit" name="Sorgula" value="Sorgula">
				</form>
			</div>
		</div>
	</div>

	<h1 class="display-4">Müvekkiller</h1>

	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary" id="btnNew">Yeni</button>
			<button class="btn btn-secondary">Kopyala</button>
			<button class="btn btn-secondary">Düzenle</button>
			<button class="btn btn-secondary">İncele</button>
			<button class="btn btn-secondary">Sil</button>

			<button class="btn btn-secondary">Kayıt Ara</button>
			<button class="btn btn-secondary">Bakiye Detay</button>


			<button class="btn btn-secondary">Excel'e Aktar</button>
		</div>
	</div>

	<table class="table table-striped table-success table-responsive table-hover">

		<thead>

			<tr>

				<th>Adı/Ünvanı</th>

				<th>Grup Adı</th>

				<th>TC No</th>

				<th>Gsm No</th>

				<th>Telefon 1</th>

				<th>Vergi Dairesi</th>

				<th>Vergi No</th>

				<th>Avukat</th>

				<th>Özel Alan</th>

				<th>Borcu</th>

				<th>Alacağı</th>

				<th>Bakiye</th>

				<th>İşlem</th>

			</tr>

		</thead>

		<tbody id="tblBody">
		</tbody>
	</table>
</div>

<!--Modal Window-->
<div class="modal" id="ClientModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modalTitle"></h3>
			</div>
			<iv class="moal-body">
				<div class="mb-2">
					<input type="text" name="Ad_Unvan" id="Ad_Unvan" class="form-control" placeholder="Ad/Ünvan" />
				</div>
				<div class="mb-2">
					<select name="GrupAdi" id="GrupAdi" class="form-control">
						<option value="Deneme 1">Deneme 1</option>
						<option value="Deneme 2">Deneme 2</option>
					</select>
				</div>

				<div class="mb-2">
					<input type="number" name="Tcno" id="Tcno" class="form-control" placeholder="Tc No" />
				</div>

				<div class="mb-2">
					<input type="text" name="GSM" id="GSM" class="form-control" placeholder="Cep Tel" />
				</div>

				<div class="mb-2">
					<input type="text" name="Tel" id="Tel" class="form-control" placeholder="Tel No" />
				</div>

				<div class="mb-2">
					<input type="text" name="Vergi_Dairesi" id="Vergi_Dairesi" class="form-control" placeholder="Vergi Dairesi" />
				</div>

				<div class="mb-2">
					<input type="number" name="No" id="No" class="form-control" placeholder="Vergi No" />
				</div>

				<div class="mb-2">
					<input type="text" name="Ozel_Alan" id="Ozel_Alan" class="form-control" placeholder="Açıklama" />
				</div>
			</iv>
			<div class="modal-footer">
				<button class="btn btn-primary" id="Save" type="submit" onclick="Insert();">Kaydet</button>

				<button class="btn btn-success" id="Update" style="display:none;" type="submit" onclick="Update();">Güncelle</button>
				<button class="btn btn-danger" data-bs-dismiss="modal" onclick="HideModal();">Kapat</button>
			</div>
		</div>
	</div>
</div>



@section Scripts
{
	<script type="text/javascript" src="~/js/ClientJS.js"></script>
	<script type="text/javascript" src="~/js/Control.js"></script>
}
